# Python bytecode
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# IDEs and editors
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# .env file (to keep sensitive information out of version control)
.env

# Mô hình học máy (nếu bạn lưu mô hình)
*.h5
*.pkl

# Thư mục dữ liệu đầu vào (nếu có)
data/

# Thư mục kết quả (output) (nếu có)
output/

# Các file tạm thời khác
*.tmp

# Ignore setuptools metadata
*.egg-info/
